<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
  font-family: ConcertOne;
  src: url(https://fonts.googleapis.com/css2?family=Concert+One&display=swap);
}

div {
  font-family: ConcertOne;
}
    </style>
    <title>template-default</title>
</head>

<body style="
margin: 0; 
padding: 0; 
font-family: ConcertOne, sans-serif; 
background-color: white; 
display: flex; 
justify-content: center;
align-items: center;
color: red;
">
<table style="
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    width: 600px; 
    height: 900px;">
    <tr>
        <td style="
        display: flex;
        align-items: center;
        font-weight: bold; ">
            <h1>Já tá sabendo da novidade?</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img style="width: 100%" src="https://github.com/lucascorreaa/web-skills-html/assets/156534019/95b48f74-c828-4671-9101-8d48247a9130" alt="background">
        </td>
    </tr>
    <tr>
        <td style="
            color: red;
            text-align: center;
            font-size: 40px;
            font-family: ConcertOne, sans-serif;">
            <h2>Novidade!</h2>
        </td>
    </tr> 
        <tr>
            <td style="
            border-top: 1px solid black; 
            border-bottom: 1px solid black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;
            color: red;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            font-family: ConcertOne, sans-serif;
            ">
                <p>Suporte de fãs!</p>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;"">🌟 Oiii, (name)! Sentindo minha falta? Eu também estou com muitas saudades de você! 🥰

                Tem vídeo novo saindo do forno e você não vai querer perder essa! 🚀 É uma super novidade que preparei com todo carinho, só para você!
                
                Quer um oi exclusivo? É fácil! Só me seguir no meu <a href="https://www.instagram.com/_cybss?igsh=MWs1eTR0d2p2a2Np" style="font-weight: bold; color: red; text-decoration: none;">Instagram!</a> Vem se conectar comigo, bater um papo e descobrir todas as surpresas incríveis que preparei só para você! 💖✨</td>
        </tr>
</table>








</body>

</html>